[Unit]
Description=Crypto alert bot
StartLimitBurst=5
StartLimitIntervalSec=3600

[Service]
Type=simple
StandardOutput=null
StandardError=journal
WorkingDirectory=%h/crypto_alert_bot
ExecStart=%h/crypto_alert_bot/run.sh
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
