[Unit]
Description=Crypto alert bot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
StandardOutput=null
StandardError=journal
WorkingDirectory=%h/crypto_alert_bot
ExecStart=%h/crypto_alert_bot/run.sh

[Install]
WantedBy=default.target
